.body {
  background-color: #ffffff;
}

article article section {
  background-color: #cccccc;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  color: #777777;
}

p ul li{
  color: #777777;
  padding-left: 2em;
  list-style-type: : circle;
}

p ul ul li{
  color: #777777;
  padding-left: 1em;
  list-style-type: decimal;
}

img {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}

#logo {
  width: 100px;
  height: 100px;
}

#title {
  text-decoration: none;
  font-size: 2em;
  color: #e34f26;
}
