
html{
  background-image: url("../images/Background.jpg");
  background-size: contain;
  color: 333333;
  margin-bottom: 50px;
}
body,div,ul,li,ol,h1,h2,p{
    margin:0;
    padding:0;
    font-size:18px;
    font-family: "Arial";
    text-shadow: 1px 1px 5px white,
                 -1px 1px 5px white,
                 1px -1px 5px white,
                 -1px -1px 5px white;
}
body{
  margin-left: 100px;
}
h1{
  margin-top:  20px;
  margin-bottom: 20px;
  font-size: 35px;
}
h2{
  font-size: 30px;
}
p{
  margin: 10;
  text-shadow: 1px 1px 1px white,
               -1px 1px 1px white,
               1px -1px 1px white,
               -1px -1px 1px white;
}
li,ul,ol{
  margin-left: 25px;
}
img{
  width: 300px;
  border: solid 1px #999999;
}
